
    <div class="container">
        <h2 class="visually-hidden">Особенности</h2>
        <ul class="features__list">
            <li class="features__item">
                <div class="features__box">
                    <svg class="features__icon">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="features__caption">Внимание к деталям</h3>
                <p class="features__text">Идейные соображения, а также начало повседневной работы по формированию
                    позиции.</p>
            </li>
            <li class="features__item">
                <div class="features__box">
                    <svg class="features__icon">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="features__caption">Пунктуальность</h3>
                <p class="features__text">Задача организации, в особенности же рамки и место обучения кадров влечет за
                    собой.</p>
            </li>
            <li class="features__item">
                <div class="features__box">
                    <svg class="features__icon">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="features__caption">Планирование</h3>
                <p class="features__text">Равным образом консультация с широким активом в значительной степени
                    обуславливает.</p>
            </li>
            <li class="features__item">
                <div class="features__box">
                    <svg class="features__icon">
                        <use href=""></use>
                    </svg>
                </div>
                <h3 class="features__caption">Современные технологии</h3>
                <p class="features__text">Значимость этих проблем настолько очевидна, что реализация плановых заданий.
                </p>
            </li>
        </ul>
    </div>


