<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
    <h3>Products </h3>
    <img src="images/box2.jpg" alt="" width="320" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nesciunt, dolore quis, ullam commodi repellendus aliquam doloribus impedit pariatur optio possimus hic eveniet quas architecto maiores? Veritatis alias voluptatum magnam?</p>
    </div>
</body>
</html>
